@import '/src/assets/styles/abstracts/colors';

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
}

.navigation-btns {
  width: auto;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 10;
}
