@use '../../styles/abstracts/colors';

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  position: relative;
  background: url('../../assets/images/bg.jpg');
}

.title {
  color: white;
  font-size: 3rem;
  font-weight: normal;
}

.navigation-btns {
  width: auto;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 10;
}

.bg-attribute {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: gray;
  font-size: 0.8rem;
  a {
    color: gray;
  }
}
