@import '/src/assets/styles/abstracts/colors';

.book {
  padding: 0.8rem;
  background-color: $primary-color;
  width: 800px;
  height: 600px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
